* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.header {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    text-align: center;
    font-size: 24px;
    margin: 0;
}

.nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.nav ul li {
    display: inline;
    margin-right: 20px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    position: relative;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
}

.home {
    background: url('images/macatuba_banner.png') no-repeat center bottom;
    background-size: cover;
    height: 600px;
    color: #fff;
    text-align: center;
    padding-top: 150px;
    margin-top: 100px; 
    position: relative;
    overflow: hidden;
}

.home h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.home p {
    font-size: 24px;
}

.agenda {
    padding: 20px 0;
    background: #fff;
    text-align: center;
    margin-top: 20px; /* Ajuste para evitar sobreposição do conteúdo pelo menu fixo */
}

.agenda h2 {
    margin-bottom: 20px;
}

.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.event {
    background-color: #eee;
    padding: 10px;
    margin: 10px;
    width: 30%;
    border-radius: 5px;
    text-align: left;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.column {
    flex: 2;
    padding: 0 20px;
}

.logo-pascom {
    max-width: 75%; /* Ajuste o tamanho conforme necessário */
    margin-top: 10px;
}
